/* Navbar */


.Mainapp{
  display: flex;    
  flex-direction: column;
}

.fixedfooter{
  position: relative;
  width: 100%;
  z-index: 100;
  bottom: 0;
}

.footer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(255, 203, 68);  
  bottom: 0;
  width: 100%;
  z-index: -1;
  clear: both;  
  position:relative;
  bottom:0;  
}

#copyright{
  text-decoration: none;  
}

#searchbar{
  padding-right: 50px;
}

#mediaicon{
  margin-bottom: 0px;
  padding-right: 20px;
}

#footerlogo{
  padding-left: 15px;
}

@media (min-width: 800px) {
  .wrapper-p {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }

  aside {
    align-self: start;
  }
}

#Navbar{
  background-color:rgb(255, 203, 68);
}

.Banner-1{
  position: relative;
}

.topfixednav{
  position: fixed;
  width: 100%;
  z-index: 100;
}


.Nav-menu-options {
    display : inline-flex;
    
  } 

  #bloc3{
    margin:auto;
    padding:0.5rem;
  }
  
  #bloc4{
    margin:auto;
    padding:0.5rem;
  }
  #bloc5{
    margin:auto;
    padding:0.5rem;
  }

  #catnavflex{
    justify-content: center;
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    flex-direction: row;
  }

  /* ---------------- Catgory Nav --------------------*/

  .catnavbar {
    text-align: center;
    background: rgb(72 206 212);
    border: #407BFF;
    position: relative;
    margin-top: 3.8rem;   
  }  

  .btn-group {
    position: relative;
    border-radius: 1rem;
    text-transform: capitalize;
    padding: auto;
  }
  .btn-group__item {
    border: none;
    min-width: 100px;
    padding: 1rem;
    background-color: rgb(72 206 212);
    cursor: pointer;
    margin: 0;
    font-size: 17px;
    box-shadow: inset 0px 0px 0px -15px rgb(44, 87, 226);
    transition: all 300ms ease-out;
    text-transform: capitalize;

  }
  .btn-group__item:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  .btn-group__item:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .btn-group__item:hover,
  .btn-group__item:focus {
    color: rgb(0, 28, 187);
    box-shadow: inset 0px -20px 0px -15px rgb(81, 124, 180);
  }
  .btn-group__item:focus {
    outline: none;
  }
  .btn-group__item:after {
    content: "✔️";
    margin-left: 0.5rem;
    display: inline-block;
    color: rgb(30, 47, 201);
    position: absolute;
    transform: translatey(10px);
    opacity: 0;
    transition: all 200ms ease-out;
  }
  .btn-group__item--active:after {
    opacity: 1;
    transform: translatey(-2px);
  }

  /* ---------------- Home/Index --------------------*/

  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(332px, 350px));
    grid-gap: 20px;
    justify-content: space-evenly;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 1rem;
    margin-top: 1rem; 
    margin-bottom: 5.5rem;  
  }
  
  .hearticon{
    border: 0;
    background-color: #fff;
    padding-right: 1px;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    
  }

  .fa-heart{
    color:rgb(230, 230, 230)
    
  }

  .cart-text{
    display: flex;    
    flex-direction: column;
  }

  .lastrow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }

  .card {
    background-color: #fff;
    padding: 30px;
    position: relative;
    box-shadow: 0 0 10px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    border-radius: 10px;
  }

  .card-media{
    border: 1px solid #407BFF;
  }

  .card-container {
    margin: 25px auto 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-items: center;
  }

  .card-container img {
    height: 250px;
    width: 250px;
    border-radius: 10px;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card-body{
    display: flex;    
    flex-direction: column; 
  }
  
  .card-head{
    font-size: 2rem;
    font-family: Poppins;
    margin-top: 0.5rem;
    font-weight: bold;
  }

  .card-price{
    font-style: bold;
    font-family: Poppins;
    font-size: 20px;
    color: green;
  }









  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }














  .cart-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(450px, 650px));
    grid-gap: 20px;
    justify-content: space-evenly;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 1rem;
    margin-top: 5rem; 
    margin-bottom: 11rem;  
  }
  
  .cart-wrapper-empty {    
    display: grid;
    justify-content: center;
    margin-bottom: 0rem;
    align-items: center;
    align-content: center;
    justify-items: center;  
  }

  .cart-card-text{
    display: flex;    
    flex-direction: column;
    padding-left: 20px;
  }

  .cart-lastrow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }

  .cart-card {
    background-color: #fff;
    padding: 30px;
    position: relative;
    box-shadow: 0 0 10px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 450px;
  }

  .cart-card-media{
    border: 1px solid #407BFF;
  }

  .cart-card-container {
    margin: 25px auto 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-items: center;
  }

  .cart-card-container img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cart-card-body{
    display: flex;    
    flex-direction: column; 
  }
  
  .cart-card-head{
    font-size: 2rem;
    font-family: Poppins;
    margin-top: 0.5rem;
    font-weight: bold;
  }

  .cart-card-price{
    font-style: bold;
    font-family: Poppins;
    font-size: 20px;
    color: green;
  }

.Empty-Cart-img{
  height: 500px;
  width: 500px;
}

.Empty-Text{
  text-align: center;
  margin-bottom: 120px;
}

.fullsizedisplay{
  margin-bottom: 50px;
}

.plus-minus{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}


.product-page {
    display: flex;
    margin-top: 100px;
    margin-bottom: 86px;
    justify-content: flex-start;
}


.product-media{
  height: 500px;
  width: 500px;
  border-radius: 10px;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #407BFF;
  margin-left: 22px;

}
.product-media-mini{
  height: 150px;
  width: 150px;
  border-radius: 10px;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #407BFF;
}

.product-head{
  font-size: 4rem;
  font-family: Poppins;
  margin-top: 0.5rem;
  font-weight: bold;
}

.product-price{
  font-style: bold;
  font-family: Poppins;
  font-size: 2rem;
  color: green;
}

.product-category{  
  font-family: Poppins;
  font-size: 20px;
  color: rgb(2, 39, 139);
}

#grid_2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start;
  margin-left: 100px;
}

#Tproductimg{
  margin-left: 150px;
  display: grid;
  grid-gap: 22px;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start;
}

#grid_1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-content: flex-start;
  align-items: flex-start;
}

.addcartgocartBTN{  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  min-width: 500px;
  text-align: center;
  text-decoration: none;
}


.btn-add-item {
  border: none;
  min-width: 200px;
  padding: 1rem;
  background-color:rgba(0, 232, 190, 1);
  ;
  cursor: pointer;
  margin: 0;
  font-size: 17px;
  box-shadow: inset 0px 0px 0px -15px rgb(51, 177, 12);
  transition: all 300ms ease-out;
  text-transform: capitalize;
  border-radius: 1rem;
}

.btn-add-item:hover,
.btn-add-item:focus {
  color: rgb(0, 28, 187);
  box-shadow: inset 0px -20px 0px -15px rgb(81, 124, 180);
}

.checkout-page{
  margin-top: 100px;
  margin-bottom: 50px;
}